
> ui@0.1.0 test
> react-scripts test --coverage --watchAll=false

----------------------------------------------------------------------------------|---------|----------|---------|---------|-------------------
File                                                                              | % Stmts | % Branch | % Funcs | % Lines | Uncovered Line #s 
----------------------------------------------------------------------------------|---------|----------|---------|---------|-------------------
All files                                                                         |    0.45 |     0.46 |    1.15 |    0.44 |                   
 src                                                                              |       0 |        0 |       0 |       0 |                   
  App.tsx                                                                         |       0 |      100 |       0 |       0 | 8-22              
  index.tsx                                                                       |       0 |      100 |     100 |       0 | 7-14              
  reportWebVitals.ts                                                              |       0 |        0 |       0 |       0 | 3-10              
 src/app                                                                          |       0 |        0 |       0 |       0 |                   
  api.ts                                                                          |       0 |        0 |       0 |       0 | 4-54              
  types.ts                                                                        |       0 |        0 |       0 |       0 |                   
 src/app/components                                                               |   25.88 |    46.75 |    42.3 |   26.92 |                   
  AnswerFeedback.tsx                                                              |   22.72 |    52.94 |      40 |   24.32 | 4-56,78           
  NavTab.tsx                                                                      |   83.33 |       75 |      80 |   83.33 | 29                
  Question.tsx                                                                    |   36.84 |       30 |   42.85 |   36.84 | 8-24,54           
  ResultQuestion.tsx                                                              |       0 |        0 |       0 |       0 | 5-35              
 src/app/pages                                                                    |   10.16 |     7.14 |   16.66 |    9.43 |                   
  QuestionPage.tsx                                                                |       0 |        0 |       0 |       0 | 6-67              
  QuizPage.tsx                                                                    |       0 |        0 |       0 |       0 | 10-65             
  RestartPage.tsx                                                                 |     100 |      100 |      75 |     100 |                   
  ResultPage.tsx                                                                  |       0 |        0 |       0 |       0 | 8-62              
  StatisticsPage.tsx                                                              |       0 |        0 |       0 |       0 | 5-27              
 src/main/resources/static/static/js                                              |       0 |        0 |       0 |       0 |                   
  App.tsx                                                                         |       0 |      100 |       0 |       0 | 8-22              
  index.tsx                                                                       |       0 |      100 |     100 |       0 | 7                 
  reportWebVitals.ts                                                              |       0 |        0 |       0 |       0 | 3-6               
 src/main/resources/static/static/js/app                                          |       0 |        0 |       0 |       0 |                   
  api.ts                                                                          |       0 |        0 |       0 |       0 | 4-52              
 src/main/resources/static/static/js/app/components                               |       0 |        0 |       0 |       0 |                   
  AnswerFeedback.tsx                                                              |       0 |        0 |       0 |       0 | 7-98              
  NavTab.tsx                                                                      |       0 |        0 |       0 |       0 | 3-38              
  Question.tsx                                                                    |       0 |        0 |       0 |       0 | 4-40              
 src/main/resources/static/static/js/app/pages                                    |       0 |        0 |       0 |       0 |                   
  QuizPage.tsx                                                                    |       0 |        0 |       0 |       0 | 10-65             
  RestartPage.tsx                                                                 |       0 |        0 |       0 |       0 | 3-28              
  ResultPage.tsx                                                                  |       0 |        0 |       0 |       0 | 8-61              
  StatisticsPage.tsx                                                              |       0 |        0 |       0 |       0 | 5-25              
 src/main/resources/static/static/node_modules/@babel/runtime/helpers/esm         |       0 |        0 |       0 |       0 |                   
  OverloadYield.js                                                                |       0 |      100 |       0 |       0 | 2                 
  asyncGeneratorDelegate.js                                                       |       0 |        0 |       0 |       0 | 3-21              
  asyncIterator.js                                                                |       0 |        0 |       0 |       0 | 5-41              
  awaitAsyncGenerator.js                                                          |       0 |      100 |       0 |       0 | 3                 
  defineProperty.js                                                               |       0 |        0 |       0 |       0 | 3                 
  objectSpread2.js                                                                |       0 |        0 |       0 |       0 | 3-21              
  objectWithoutProperties.js                                                      |       0 |        0 |       0 |       0 | 2-11              
  objectWithoutPropertiesLoose.js                                                 |       0 |        0 |       0 |       0 | 2-8               
  toPrimitive.js                                                                  |       0 |        0 |       0 |       0 | 3-10              
  toPropertyKey.js                                                                |       0 |        0 |       0 |       0 | 5                 
  typeof.js                                                                       |       0 |        0 |       0 |       0 | 4-7               
  wrapAsyncGenerator.js                                                           |       0 |        0 |       0 |       0 | 3-67              
 src/main/resources/static/static/node_modules/axios/lib                          |       0 |        0 |       0 |       0 |                   
  axios.js                                                                        |       0 |        0 |       0 |       0 | 28-80             
  utils.js                                                                        |       0 |        0 |       0 |       0 | 7-724             
 src/main/resources/static/static/node_modules/axios/lib/adapters                 |       0 |        0 |       0 |       0 |                   
  adapters.js                                                                     |       0 |        0 |       0 |       0 | 25-114            
  fetch.js                                                                        |       0 |        0 |       0 |       0 | 13-283            
  xhr.js                                                                          |       0 |        0 |       0 |       0 | 12-191            
 src/main/resources/static/static/node_modules/axios/lib/cancel                   |       0 |        0 |       0 |       0 |                   
  CancelToken.js                                                                  |       0 |        0 |       0 |       0 | 14-135            
  CanceledError.js                                                                |       0 |        0 |       0 |       0 | 17-25             
  isCancel.js                                                                     |       0 |        0 |       0 |       0 | 4                 
 src/main/resources/static/static/node_modules/axios/lib/core                     |       0 |        0 |       0 |       0 |                   
  Axios.js                                                                        |       0 |        0 |       0 |       0 | 12-240            
  AxiosError.js                                                                   |       0 |        0 |       0 |       0 | 17-110            
  AxiosHeaders.js                                                                 |       0 |        0 |       0 |       0 | 6-314             
  InterceptorManager.js                                                           |       0 |        0 |       0 |       0 | 5-64              
  buildFullPath.js                                                                |       0 |        0 |       0 |       0 | 17-18             
  dispatchRequest.js                                                              |       0 |        0 |       0 |       0 | 22-79             
  mergeConfig.js                                                                  |       0 |        0 |       0 |       0 | 6-105             
  settle.js                                                                       |       0 |        0 |       0 |       0 | 15-16             
  transformData.js                                                                |       0 |        0 |       0 |       0 | 16-27             
 src/main/resources/static/static/node_modules/axios/lib/defaults                 |       0 |        0 |       0 |       0 |                   
  index.js                                                                        |       0 |        0 |       0 |       0 | 22-161            
  transitional.js                                                                 |       0 |      100 |     100 |       0 | 3                 
 src/main/resources/static/static/node_modules/axios/lib/env                      |       0 |      100 |     100 |       0 |                   
  data.js                                                                         |       0 |      100 |     100 |       0 | 1                 
 src/main/resources/static/static/node_modules/axios/lib/helpers                  |       0 |        0 |       0 |       0 |                   
  AxiosURLSearchParams.js                                                         |       0 |        0 |       0 |       0 | 14-58             
  HttpStatusCode.js                                                               |       0 |      100 |       0 |       0 | 1-77              
  bind.js                                                                         |       0 |      100 |       0 |       0 | 11-12             
  buildURL.js                                                                     |       0 |        0 |       0 |       0 | 15-66             
  combineURLs.js                                                                  |       0 |        0 |       0 |       0 | 12                
  composeSignals.js                                                               |       0 |        0 |       0 |       0 | 5-44              
  cookies.js                                                                      |       0 |        0 |       0 |       0 | 4-49              
  formDataToJSON.js                                                               |       0 |        0 |       0 |       0 | 17-92             
  isAxiosError.js                                                                 |       0 |        0 |       0 |       0 | 13                
  isURLSameOrigin.js                                                              |       0 |        0 |       0 |       0 | 3-14              
  parseHeaders.js                                                                 |       0 |        0 |       0 |       0 | 7-54              
  parseProtocol.js                                                                |       0 |        0 |       0 |       0 | 4-5               
  progressEventReducer.js                                                         |       0 |        0 |       0 |       0 | 5-44              
  resolveConfig.js                                                                |       0 |        0 |       0 |       0 | 10-59             
  speedometer.js                                                                  |       0 |        0 |       0 |       0 | 9-51              
  spread.js                                                                       |       0 |      100 |       0 |       0 | 25-26             
  throttle.js                                                                     |       0 |        0 |       0 |       0 | 7-41              
  toFormData.js                                                                   |       0 |        0 |       0 |       0 | 16-220            
  toURLEncodedForm.js                                                             |       0 |        0 |       0 |       0 | 8-10              
  trackStream.js                                                                  |       0 |        0 |       0 |       0 | 2-81              
  validator.js                                                                    |       0 |        0 |       0 |       0 | 6-96              
 src/main/resources/static/static/node_modules/axios/lib/platform                 |       0 |      100 |     100 |       0 |                   
  index.js                                                                        |       0 |      100 |     100 |       0 | 4                 
 src/main/resources/static/static/node_modules/axios/lib/platform/browser         |       0 |      100 |     100 |       0 |                   
  index.js                                                                        |       0 |      100 |     100 |       0 | 5                 
 src/main/resources/static/static/node_modules/axios/lib/platform/browser/classes |       0 |        0 |       0 |       0 |                   
  Blob.js                                                                         |       0 |        0 |       0 |       0 |                   
  FormData.js                                                                     |       0 |        0 |       0 |       0 |                   
  URLSearchParams.js                                                              |       0 |        0 |       0 |       0 |                   
 src/main/resources/static/static/node_modules/axios/lib/platform/common          |       0 |        0 |     100 |       0 |                   
  utils.js                                                                        |       0 |        0 |     100 |       0 | 1-43              
 src/main/resources/static/static/node_modules/react                              |       0 |      100 |     100 |       0 |                   
  index.js                                                                        |       0 |      100 |     100 |       0 | 4                 
  jsx-runtime.js                                                                  |       0 |      100 |     100 |       0 | 4                 
 src/main/resources/static/static/node_modules/react-dom                          |       0 |        0 |       0 |       0 |                   
  client.js                                                                       |       0 |        0 |       0 |       0 | 3-27              
  index.js                                                                        |       0 |        0 |       0 |       0 | 3-27              
 src/main/resources/static/static/node_modules/react-dom/cjs                      |       0 |        0 |       0 |       0 |                   
  react-dom-client.production.js                                                  |       0 |        0 |       0 |       0 | 15-16047          
  react-dom.production.js                                                         |       0 |        0 |       0 |       0 | 12-208            
 src/main/resources/static/static/node_modules/react-router/dist/development      |       0 |        0 |       0 |       0 |                   
  chunk-4WY6JWTD.mjs                                                              |       0 |        0 |       0 |       0 | 11-10358          
 src/main/resources/static/static/node_modules/react/cjs                          |       0 |        0 |       0 |       0 |                   
  react-jsx-runtime.production.js                                                 |       0 |        0 |       0 |       0 | 12-32             
  react.production.js                                                             |       0 |        0 |       0 |       0 | 12-540            
 src/main/resources/static/static/node_modules/scheduler                          |       0 |      100 |     100 |       0 |                   
  index.js                                                                        |       0 |      100 |     100 |       0 | 4                 
 src/main/resources/static/static/node_modules/scheduler/cjs                      |       0 |        0 |       0 |       0 |                   
  scheduler.production.js                                                         |       0 |        0 |       0 |       0 | 13-337            
 src/main/resources/static/static/node_modules/web-vitals/dist                    |       0 |        0 |       0 |       0 |                   
  web-vitals.js                                                                   |       0 |        0 |       0 |       0 | 1                 
 src/main/resources/static/static/webpack                                         |       0 |        0 |       0 |       0 |                   
  bootstrap                                                                       |       0 |        0 |       0 |       0 | 2-22              
 src/main/resources/static/static/webpack/runtime                                 |       0 |        0 |       0 |       0 |                   
  define property getters                                                         |       0 |        0 |       0 |       0 | 3-4               
  ensure chunk                                                                    |       0 |      100 |       0 |       0 | 5-6               
  get javascript chunk filename                                                   |       0 |      100 |       0 |       0 | 4                 
  get mini-css chunk filename                                                     |       0 |        0 |       0 |       0 |                   
  global                                                                          |       0 |        0 |       0 |       0 | 2-6               
  hasOwnProperty shorthand                                                        |       0 |      100 |       0 |       0 | 1                 
  jsonp chunk loading                                                             |       0 |        0 |       0 |       0 | 6-85              
  load script                                                                     |       0 |        0 |       0 |       0 | 1-38              
  make namespace object                                                           |       0 |        0 |       0 |       0 | 3                 
----------------------------------------------------------------------------------|---------|----------|---------|---------|-------------------
